<div class='main-nav'>
	<div class='navbar navbar-inverse navbar-fixed-bottom'>
		<div class="container-fluid">
			<div class='navbar-header'>
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                menu
            </button>
				<a class='navbar-brand' [routerLink]="['/home']">Settle It</a>
			</div>
			<div class='navbar-collapse collapse'>
				<ul class='nav navbar-nav'>
					<li [routerLinkActive]="['link-active']">
						<a [routerLink]="['/edit']">
							<span class='glyphicon glyphicon-edit'></span> Editor
						</a>
					</li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/blog']">
                            <span class='glyphicon glyphicon-heart-empty'></span> Blog
                        </a>
                    </li>
				</ul>
			</div>
		</div>
	</div>
</div>