<div class="container">
	{{statement.weightedPercentage | percent:'1.0-0'}} {{statement.weighted.pro}}-{{statement.weighted.con}}={{statement.weighted.difference}}
	<form>
		<div class="form-group">
			<label for="label">Label</label>
			<input [(ngModel)]="statement.label" type="text" class="form-control" id="label" name="label">
		</div>
		<div class="form-group">
			<label for="content">Content</label>
			<textarea [(ngModel)]="statement.content" type="text" class="form-control" id="content" name="content"></textarea>
		</div>
        <div class="form-group">
            <label for="citation">Citation</label>
            <textarea [(ngModel)]="statement.citation" type="text" class="form-control" id="citation" name="citation"></textarea>
        </div>
        <div class="form-group">
            <label for="citationUrl">Citation Address</label>
            <textarea [(ngModel)]="statement.citationUrl" type="text" class="form-control" id="citationUrl" name="citationUrl"></textarea>
        </div>
		<div class="form-group">
			<label for="statement.isProMain">is Pro Main</label>
			<input type="checkbox" name="statement.isProMain" [(ngModel)]="statement.isProMain">
		</div>
		<button (click)="calculate()" type="submit" class="btn btn-default">Calculate</button>
	</form>
</div>