<article class="container">
	<h1>I Failed to Save the World - Experiment #1</h1>
	<p class="date">8/4/2016</p>
	<img border="0" height="161" src="img/blog/BLMvsWSJ.jpg" style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"
		width="200">
	<p>An experiment is never really a failure unless you fail to learn from it. Even in doing the experiment incorrectly you can
		learn how to do it right. In this case, I did not get the expected results but I learned a lot.</p>
	<h2>The Goals</h2>

	<ul>
		<li>Are people willing to financially support fact checking?</li>
		<li>Can SettleIt.org settle intractable debates?</li>
	</ul>
	<h2>Are people willing to financially support fact checking?</h2>

	<p>In short, yes. I chose a recent <a href="http://www.wsj.com/articles/the-myths-of-black-lives-matter-1455235686" rel="nofollow">controversial headline</a>		and created a crowdfunding&nbsp;campaign to fact check it. I actually started two campaigns. one to fact-check each side.
		The hope is that some competition would increase the support. I set the goals at $100 to make it manageable. I jump started
		the campaigns with $30. I then paid $20 to boost <a href="https://www.facebook.com/SettleItOrg/posts/1929034093990009">the facebook post about it</a>.
		The facebook post reached 9,484 people and had 785 engagements. At the last moment, a few days after the advertising ran
		out a single person donated the remaining $170 to fund the fact checking. This individual was an outspoken opponent that
		said I was biased several times. When I explained the process and how my bias would be mitigated they decided to fund it.
		Further tests will determine if this was an exception.</p>
	<h2>Can SettleIt.org Settle Intractable Debates?</h2>
	<p>I could not prove that we can settle intractable debates yet. Here is what we found out:</p>
	<h3>To Really Debate Deeply it Helps to Believe in Your Claim.</h3>
	<p>Our main statement was following the thrust of the Wall Street Journal (WSJ) article with
		<a href="/Is the-Legal-System-in-The-United-States-of-America-Racist-original" target="_blank">
		Is the legal system in The United States of America racist?
		</a> The researcher working on the side of the WSJ ended up saying:</p>
	<blockquote>I'm just going to be real honest with you, I'm not sure I can come up with many more defenses for what we have been researching.
		I agree with the statement on too many things and feel that we aren't debating, but agreeing on everything. I am a firm
		believer that our legal system needs to be reformed because it does target minorities, but that BLM is taking advantage
		of this to divide our country.
	</blockquote>
	To be clear, this researcher was not a professional debater that practices arguing both sides. In the end, we ended up with
	100% confidence that the legal system is racist. If you would like to correct this claim please post a comment on the page
	linked above and I can add your objections.
	<br><br>Based on the researcher's feedback we change the main statement to&nbsp;
	<a href="/Is-the-Black-Lives-Matter-movement-a-net-detriment-to-society-original" target="_blank">Is the Black Lives Matter movement a net detriment to society?</a>	This debate was more informative.
	<h3>You can Easily Get Lost</h3>
	<p>In a complex tree of statements it is easy for it to all blur together and get lost. This may point to a design where you
		can at any one time see one statement and all of its children. We still need to decide if we will also show all the ancestors
		up to the main statement which may be necessary to show context.</p>
	<h3>It's Hard to see Which Side Owns a Claim</h3>
	<p>When trying to read the tree of statements you have to really read each statement to understand it's context. In other designs
		we have used one color of statement for each side and a call out triangle pointing to the left or right to indicate which
		side of the debate the claim came from. I think this may help in quickly understanding the statements and how they affect
		the main statement.</p>
	<h3>Statements Should not be Reversible</h3>
	<p>If you dispute a statement with no other child statements the statement suddenly gives 100 points to the other side of the
		argument. There are some circumstances where this would make sense if the statement really supports the other side. More
		often than not you are just disproving the statement and expect it to no longer have an effect on the debate. It is possible
		to change the system where you can't make a statement from one side give points to another. This may also clear up some
		of the confusion in the display.</p>
	<h2>The Results of the Experiment</h2>
	<p>The future looks good. There is still a real solid indication that there is a way to greatly decrease the time spent debating
		topics and settle them. I believe that skilled people could make a much better decision with the system without. To be
		widely used the system will need changes to make it more legible.</p>
	<h2>What About the Debate?</h2>
	<p>You will be the judge of that. Does either of these collections of statements chang what you thought about the topic? Let
		me know in the comments.
		<br>
		<br> Original statements at the end of the experiment:
		<br>
		<a href="/Is-the-Black-Lives-Matter-movement-a-net-detriment-to-society-original" target="_blank">
            Is the Black Lives Matter movement a net detriment to society?
            </a>
		<br>
		<a href="/Is-the-Legal-System-in-The-United-States-of-America-Racist-original" target="_blank">
            Is the legal system in The United States of America racist?
            </a>

</article>