<article class="container body-content">

	<h2>4 Unspoken Reasons Why they Ignore Your Posts</h2>

	<p>11/5/2013</p>
	<summary><img border="0" height="217" src="img/blog/ignoredposts.jpg" style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"
			width="320">Does it feel like most people ignore your helpful posts? Does your Facebook update warning about how certain
		foods are slowly killing people goes unnoticed? No one seems to care when you blog about a nuclear facility being built
		in their back yard. There are unspoken reasons you are being ignored. </summary><br>
	<h1>1. Your post was too long</h1>You tried to cover all the possible objections to your idea or provided so much background
	support that they took a look at the length and bounced away. People can’t digest all the reasons at once and don’t want
	to read through a lot of paragraphs they agree with just to find the new information that changes their mind. By using links
	to other content or clear headings the reader has the options to skip what they already agree with and get to the controversial
	parts and learn something from you. Allow them to go as deep or shallow as they need. <br>
	<h1>2. You relied on sources they consider biased</h1>
	<blockquote>You have an argument with a Tea Party member, you point out a segment on The Daily Show, now you have two arguments.</blockquote>Linking
	to other content from controversial sources does not sway a reader with a different ideology. You have to first convince
	them that the source is reliable before they will accept what they see. It’s more effective to pull out the compelling information
	and put it directly in your post. You might also see if there is a deeper source like a research paper. <br>
	<h1>3. You used biased or unfamiliar words</h1>If you speak to a liberal and use the term Illegal Alien their emotions rise
	up simply because you chose a term that has negative weight in their community. If you use the words of your opponent then
	they can focus on your specific point and not be distracted be the words you choose. You may prefer to use your language
	but they will prefer to ignore you. Using jargon from an industry or group of people can push people off your page. An acronym
	should always be explained the first time it is used, FYI (for your information). <br>
	<h1>4. You left out their specific excuse.</h1>Their family doctor told them to eat it and how would she not know it’s bad for
	you. Nuclear power has fewer drawback than coal. There is a reason in their head that you did not cover in your post. If
	you made your post longer they would see how large it is and not even read it. One way to combat this is to put links to
	common myths. They won’t make your post longer and may catch them before they ignore you. <br>
	<h1>Another Option</h1>I am attempting to build an information resource that uses these insights to organize information in
	such a way that people of different ideologies can combine their knowledge and make decisions together. You can find out
	more about it at <a href="https://settleit.org/" target="_blank">SettleIt.org</a>.
</article>