<article class="container">
	<h2>Lessons Learned From the First Experiment to Settle It</h2>
	<p>8/16/2016</p>
	<p>The main topic of the first experiment was "The Black Lives Matter movement is a net detriment to society." Here is what
		I learned while going through after the researchers did their best with very little direction.
	</p>
	<h2>Start with Short Sentences</h2>
	<p>Some of the first set of child statements are long sentences like:</p>
	<blockquote>"Anti-government groups have been on the rise, and since this article was written, black anti-government groups have also
		been on the rise due to Black Lives Matter rhetoric. They are bringing awareness to the community, but not in the right
		ways."
	</blockquote>
	<p>
		I found this hard to read to get into the flow and made digesting the overall reasoning behind the rating of the main statement
		require a lot of effort to understand. There is a minimum character limit of 50 characters to reduce spam comments so that
		may need to be changed.
	</p>
	This item could be clarified by changing it to:
	<blockquote>
		"Black Lives Matter encourages&nbsp;ani-government groups"
	</blockquote>
	The additional information in the statement is supportive and can be added as child statements.
	<h2>Claims Above Statistics</h2>
	<blockquote>
		"Percentage wise, blacks are killed by police more than whites, but the "overwhelming majority" of those killed were attacking
		the cop. Isn't the BLM information they are spreading a misrepresentation of police brutality against blacks?"
	</blockquote>
	<p>
		This statement combines a claim spreading misinformation with the statistics of the percentage of blacks attacking cops.
		It would be clearer to make the claim and put the statistics as a supportive child statement.
	</p>
	<h2>One Claim at a Time</h2>
	It would be tempting to&nbsp;change the above statement to:
	<blockquote>
		"Black lives Matter spreads the misinformation that blacks&nbsp;are disproportionately brutalized by police."
	</blockquote>
	<p>
		But this has is making two different claims. One is that blacks&nbsp;are disproportionately brutalized by police and the
		other is that Black lives Matter spreads that fact. It would be better to separate these two items. We can start with the
		claim "Black Lives Matter spreads misinformation" then have a child statement that &nbsp;"Blacks&nbsp;are disproportionately
		brutalized by police"
	</p>
	<h2>Don't&nbsp;dispute without a specific reason</h2>
	<blockquote>"No one talks about that because the percentage doesn't make sense. Comparing white and black deaths are on the same line
		because of the actual number difference."</blockquote>
	<blockquote>Dispute:"That number makes sense."</blockquote>
	<p>
		There was a lot more information in this exchange but to address the sentence above the dispute was the cogent statement.
		On a separate statement, the point was made:
	</p>
	<blockquote>
		"Blacks are the largest racial minority group in the United States, making up 13% of the US population. The consistently
		observed massive disparity in police violence cannot be explained by outlying data points or rounding errors."
	</blockquote>
	<p>
		Which is definitely closer. It may be improved by saying something to the effect that "The range&nbsp;accuracy of the statistics
		is within the accepted standards of (important institution)" with the accompanying math to back it up.
	</p>
	<h2>Don't Command</h2>
	<blockquote>
		"Do not belittle the lived experiences of racial minority groups."
	</blockquote>
	<p>I understand the feelings of the researcher but the purpose of this system is to bring clarity. It would be more effective
		to show how the offending remark does not make a claim or provide evidence or correction by logic. In this specific example,
		it was a reasonable claim so I don't have a good example of the correction at this moment.
	</p>
	<h2>Most Charitable Interpretation</h2>
	<p>While we are on the subject the comment "Do not belittle the lived experiences of racial minority groups." was made to the
		statement "Thirteen Native Americans have been killed this year, which is 5.49 per million, trumping every other ethnicity.
		No one talks about that because the percentage doesn't make sense."
	</p>
	<p>
		You can read that as belittling racial minority groups, but, if you assume the best then you don't go down that rabbit hole.
		In SettleIt the most effective path is to give the most charitable&nbsp;interpretation of statements.
	</p>
	<h2>Clarity &gt; Wit</h2>
	<blockquote>
		"History is written by the victors. Police involved in fatal homicides have an incentive to claim self-defense and have a
		much more powerful voice than the dead victim."
	</blockquote>
	<p>
		In this case "History is written by the victors." is a common phrase packed with meaning but it does not provide specific
		value and can bring with it many interpretations. In traditional debate wit can sway people's opinion. In SettleIt, the
		scorring system is not impressed with your choice phrases.
	</p>
	<h2>Summary</h2>
	<p>
		Lots of lessons learned in just the first few levels of the experiment. This is what I saw on my first pass. I'll go over
		it again and start making changes.
	</p>
	<p>
		Original:
		<a href="https://settleit.org/The-Black-Lives-Matter-movement-is-a-net-detriment-to-society-original" target="_blank">
		The Black Lives Matter movement is a net detriment to society
		</a>
	</p>
	<p>
		Latest
		<a href="https://settleit.org/The-Black-Lives-Matter-movement-is-a-net-detriment-to-society" target="_blank">
	The Black Lives Matter movement is a net detriment to society
	</a>
	</p>
</article>