<div class="HomeCoponent">
	<img src="img/SettleItLogo.png" style="width: 100%; max-width: 560px;margin:auto" />

	<h2>unity through clarity</h2>

	<div class="jumbotron">
		<p> We settle arguments by allowing everyone to contribute all their hopes and concerns and organize them so that myths and
			biases are corrected, no point is forgotten and complexity is summarized into a simple confidence score.
		</p>

		( hopes + concerns + transparency - myths - biases ) * everyone = confidence%

	</div>


	<div style="max-width:600px;margin:auto;">
		<div class="videoWrapper">
			<iframe src="https://www.youtube.com/embed/kg2U_go4RLk?rel=0&showinfo=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>