.statement {
    margin: 10px 0;
    position: relative;
    width: 100%;
    min-width: 300px;
    border-radius: 10px;
    color: #4A4A4A;
    background: #ECECEC;
    padding: 5px 5px 5px 10px;
    border: 2px solid #ECECEC;
}

.statementPrefix {
    display: block;
    float: left;
    /*font-size: 2em;*/
    padding-right: .5em;
    font-weight: 800;
}

statementContent {
}

.opener {
    position: absolute;
    left: -1em;
    top: 1px;
    cursor: pointer;
}

.selected {
    border: 2px solid #4A4A4A;
}

.selectedContent {
    font-size: small;
    font-style: italic;
    display: block;
}
