.statement{
    margin: 10px 0;
    position: relative;
    width: 100%;
    min-width: 300px;
    border-radius: 10px;
    color: #4A4A4A;
    background: #ECECEC;
    padding: 5px 5px 5px 10px;
}

.opener {
    position: absolute;
    left: -1em;
    top: 1px;
    cursor: pointer;
}

.selected {
    border: 2px solid black;
}
