<div class="container body-content">
    <h1>SettleIt.org Blog</h1>
       <div>
            <hr>
            <a href="blog/Lessons-Learned-From-the-First-Experiment-to-Settle-It"><h3>Lessons Learned From the First Experiment to Settle It</h3></a>
            <p>8/16/2016 9:11:00 PM -05:00</p>
            <p>The main topic of the first experiment was "The Black Lives Matter movement is a net detriment to society." Here is what I learned while going through after the researchers did their best with very little direction.<br></p>
            <a href="blog/Lessons-Learned-From-the-First-Experiment-to-Settle-It" class="btn btn-default">(more)</a>
            <br style="clear: both;">
        </div>
        <div>
            <hr>
            <a href="blog/I-Failed-to-Save-the-World---Experiment-1"><h3>I Failed to Save the World - Experiment #1</h3></a>
            <p>8/4/2016</p>
            <p></p><div class="separator" style="clear: both; text-align: center;"><img border="0" height="161" src="img/blog/BLMvsWSJ.jpg" style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;" width="200"></div>An experiment is never really a failure unless you fail to learn from it. Even in doing the experiment incorrectly you can learn how to do it right. In this case, I did not get the expected results but I learned a lot.<p></p>
            <a href="blog/I-Failed-to-Save-the-World---Experiment-1" class="btn btn-default">(more)</a>
            <br style="clear: both;">
        </div>
        <div>
            <hr>
            <a href="blog/4-Unspoken-Reasons-Why-they-Ignore-Your-Posts"><h3>4 Unspoken Reasons Why they Ignore Your Posts</h3></a>
            <p>11/5/2013</p>
            <p><img border="0" height="217" src="img/blog/ignoredposts.jpg" style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;" width="320">Does it feel like most people ignore your helpful posts? Does your Facebook update warning about how certain foods are slowly killing people goes unnoticed? No one seems to care when you blog about a nuclear facility being built in their back yard.  There are unspoken reasons you are being ignored.</p>
            <a href="blog/4-Unspoken-Reasons-Why-they-Ignore-Your-Posts" class="btn btn-default">(more)</a>
            <br style="clear: both;">
        </div>
</div>